@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Estoy probando</p>
    <input type="text" class="form-control">
    <label>Daniel</label>
    <!--comentario-->
    <p>Adipisicing sunt aliquip do enim Lorem officia est laboris excepteur sit dolor. Cupidatat nisi veniam qui quis nulla reprehenderit laboris magna exercitation ea non Lorem. Laboris reprehenderit est ullamco cupidatat. Est mollit sunt laboris et et id nisi do culpa sint dolor. Sunt non adipisicing Lorem sint aute. Ullamco duis Lorem dolor deserunt culpa elit in minim fugiat aliqua quis do irure.

Enim ipsum dolore nisi deserunt nulla culpa mollit et adipisicing proident consectetur. Minim nisi aliqua aute veniam eu duis adipisicing. Excepteur enim culpa nostrud ipsum sit ex. Laboris sit sunt quis sunt enim. Sunt enim dolore consectetur reprehenderit sint reprehenderit consequat ullamco adipisicing incididunt. Tempor aliquip exercitation velit cillum irure. Laborum laborum do sit nisi aute cillum reprehenderit amet adipisicing nisi fugiat mollit id magna.

Magna aliqua aliqua cupidatat reprehenderit mollit qui ad eiusmod nisi proident magna anim officia occaecat. Deserunt in minim qui mollit occaecat officia. Veniam dolor ullamco adipisicing ullamco dolor velit aute officia quis officia. Nulla excepteur do ex cillum consectetur non ut minim esse ex. Fugiat non deserunt pariatur eiusmod consequat fugiat laborum.
</p>
</div>
